body {
  background-color: darkslategrey;
}

.maindv {
  text-align: center;
  width: 480px;
  margin-top: 100px;
  margin: 90px auto;
  padding: 15px;
  border: 1px solid gold;
}

.row {
  margin-bottom: 10px;
}

.rowFirst{
    margin-left: -43px;
}

label {
  margin: 0 10px;
  color: #fff;
}

.showErrDV{
  display: block;
  color: orangered;
}
.hideErrDV{
  display: none;
}

.txtControl{
  float: right;
}